# challenge
predict.tsv
baseline.predict.tsv
kimandkang.predict.dev.tsv
kimandkang.predict.test.tsv

# python
*.pyc
*.swp

# directories
tmp/
data/
model/

# mac
.DS_Store
__MACOSX/

# virtualenv
.virtualenv/
