# challenge
predict.tsv
baseline.predict.tsv
kimandkang.predict.dev.tsv
kimandkang.predict.test.tsv
kimandkang.predict.train.tsv

# python
*.pyc
*.swp

# directories
tmp/
data/
model/
tensorboard/

# mac
.DS_Store
__MACOSX/

.virtualenv
.vscode
data
